h2= currentAlgorithm.name

script
    var currentAlgorithmFile = "!{currentAlgorithm.file}";

p= currentAlgorithm.description

canvas(id="canvas", width="305", height="155")
    | Sorry, your browser doesn't support HTML5 Canvas.
div
    input(type="button", id="shuffle", value="Shuffle")
    input(type="button", id="sort", value="Sort")

pre#code.language-javascript= currentAlgorithm.code
