script(src="js/dataStructures/display.js")
script(src="js/dataStructures/stack.js")
script(src="js/dataStructures/queue.js")

script
    var currentAlgorithmFile = "!{currentAlgorithm.file}";
    $(function() {
        var ds;
        if (currentAlgorithmFile == "stack.js")
            ds = new Stack();
        else if (currentAlgorithmFile == "queue.js")
            ds = new Queue();
        dataStructures.init(ds);
    });

h2= currentAlgorithm.name

p!= currentAlgorithm.description

canvas(id="canvas", width="305", height="30")
    | Sorry, your browser doesn't support HTML5 Canvas.

div#operations

pre#code.prettyprint.lang-js= currentAlgorithm.code