!!! 5
html
    head
        title Algorithms
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
        script(src="js/script.js")

    body
        h1 Algorithms
        p
            | This is a demonstration of selected algorithms from
            a(href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&tid=11866") Introduction to Algorithms by Cormen et. al.
            | , implemented in JavaScript by
            a(href="http://ubercode.de") Felix H. Dahlke
            | .

        h2 Sorting
        h3 Insertion Sort

        canvas(id="canvas", width="210", height="110")
            | Sorry, your browser doesn't support HTML5 Canvas.

        div
            input(type="button", id="shuffle", value="Shuffle")
            input(type="button", id="sort", value="Sort")

