!!! 5
html
    head
        title Algorithms
        link(rel="stylesheet", type="text/css", href="css/style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
        script(src="js/script.js")

    body
        a(href="http://github.com/fhd/algorithms", id="github-ribbon")
            img(src="https://d3nwyuy0nl342s.cloudfront.net/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt="Fork me on GitHub")

        h1 Algorithms
        p
            | This is a demonstration of selected algorithms from
            a(href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&tid=11866") Introduction to Algorithms by Cormen et. al.
            | , implemented in JavaScript by
            a(href="http://ubercode.de") Felix H. Dahlke
            | .

        h2 Sorting
        h3 Insertion Sort

        canvas(id="canvas", width="210", height="110")
            | Sorry, your browser doesn't support HTML5 Canvas.

        div
            input(type="button", id="shuffle", value="Shuffle")
            input(type="button", id="sort", value="Sort")

